

/*Universal CSS START*/
* {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}
/*Universal CSS END*/

body {
    background-color: #F7BF4F;
}


.heading {
 background-color: rgb(243, 217, 178);
}

.headersub {
    margin-top: 2px;
}

.center {
    text-align: center;
}

.imcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

